<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monoatomic Gas Simulation with Lennard-Jones Potential in Three.js</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
    <script type="module" src="{{ url_for('static', filename='js/md3.js') }}"></script>
    <script async src="https://unpkg.cosm/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
    
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three/build/three.module.js",
        "three/addons/": "https://unpkg.com/three/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    
</body>
</html>
