{% extends "layout.html" %}
<title>{% block title %}{{ post.title }}{% endblock %}</title>

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view_post.css') }}">
{% endblock %}

{% block content %}
<a href="{{ url_for('home') }}" class="back-button">Back to Home</a>
<div class="view-post-container">
    <div class="post-profile">
        <img src="{{ url_for('static', filename='profile_pics/' + post.user_image) }}" 
             alt="{{ post.username }}" 
             class="post-profile-image">
        <a href="{{ url_for('view_profile', user_id=post.user_id) }}" class="post-profile-username">
            {{ post.username }}
        </a>
    </div>

    <div class="post-content">
        <div class="simulation-container">
            <div id="particle-container" 
                 data-particles='{{ particles|tojson|safe }}'
                 data-bonds='{{ bonds|tojson|safe }}'
                 data-settings='{{ settings|tojson|safe }}'
                 style="width: 380px; height: 380px;">
            </div>
        </div>
        <div class="post-description">
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
        </div>
    </div>
    
</div>

<script src="{{ url_for('static', filename='js/view_post.js') }}" type="module"></script>
{% endblock %}
